@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.drawer-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.drawer-content {
  position: fixed;
  right: 0;
  top: 5vh;
  min-height: 40vh;
  width: 50vw;
  border-radius: variables.$spacing;
  overflow: hidden;
  border: 1px solid variables.$gray;
  max-width: 50vw;
  color: variables.$black;
  background: variables.$paper;
  margin: calc(2 * variables.$spacing);

  .drawer-content-inner {
    padding: calc(2 * variables.$spacing);
    display: flex;
    flex-direction: column;
    gap: variables.$spacing;

    .drawer-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h4 {
        margin: 0;
      }
    }

    .drawer-code {
      max-width: 100%;
      max-height: 35vw;
      border-radius: variables.$spacing;
      user-select: text;
      flex-wrap: wrap;
      code {
        white-space: pre-wrap !important;
      }
    }
  }

  @media screen and (max-width: variables.$breakpoint-small) {
    width: calc(100vw - #{variables.$spacing * 2});
    max-width: calc(100vw - #{variables.$spacing * 2});
    top: 0;
    bottom: 0;
    min-height: 100%;
    margin: variables.$spacing;
    border-radius: variables.$spacing;
    overflow-y: auto;

    .drawer-content-inner {
      .drawer-code {
        max-height: 60vh;
      }
    }
  }
}
