@use "./variables.module.scss";
@use "./fonts.scss";
input, select, textarea {
  @include fonts.font-size-normal;
  padding: variables.$spacing variables.$spacing;
  color: variables.$black;
  background-color: variables.$white;
  border: 1px solid variables.$gray;
  border-radius: calc(variables.$spacing / 2);
  box-shadow: variables.$shadow-inset;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: box-shadow, border-color;
  &:focus{
    box-shadow: 0;
  }
}
select{
    padding: calc(variables.$spacing/1.5) variables.$spacing;
}