@use "./variables.module.scss";
@use "./fonts.scss";

.table-container {
  border: 1px solid variables.$gray;
  border-radius: variables.$spacing;
  overflow-y: hidden;
  overflow-x: scroll;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    @include fonts.font-size-small;
    thead {
      background-color: variables.$white;
      tr {
        th {
          @include fonts.raleway-bold;
          text-align: left;
          padding: variables.$spacing;
          border: 0;
          border-bottom: 1px solid variables.$gray;
        }
      }
    }
    tbody {
      background-color: variables.$white;
      tr {
        td {
          @include fonts.raleway-medium;
          padding: variables.$spacing;
          border-bottom: 1px solid variables.$gray;
        }
        &:nth-child(odd) {
          td {
            //background-color: variables.$gray;
          }
        }
      }
    }
    // inline components
    .switch {
      margin: 0.5rem; /* m-2 */
      width: 2.5rem; /* w-10 (40px) */
      height: 1.5rem; /* h-6 (24px) */
      background-color: variables.$green-light; /* bg-green-200 */
      border-radius: 9999px; /* rounded-full */
      position: relative; /* relative */
      border-width: 0px; /* border-0 */
      cursor: pointer; /* cursor-pointer */

      &[data-state="checked"] {
        background-color: variables.$gray;
      }
      .switch-thumb {
        display: block; /* block */
        width: 1rem; /* w-4 (16px) */
        height: 1rem; /* h-4 (16px) */
        background-color: variables.$white; /* bg-white */
        border-radius: 9999px; /* rounded-full */
        box-shadow:
          0 4px 6px -1px rgba(0, 0, 0, 0.1),
          0 2px 4px -2px rgba(0, 0, 0, 0.1); /* shadow-md */
        transition-duration: 300ms; /* duration-300 */

        /* data-[state=checked]:bg-gray-500 */
        &[data-state="checked"] {
          background-color: variables.$black;
        }

        /* data-[state=checked]:translate-x-3 */
        &[data-state="checked"] {
          transform: translateX(0.75rem); /* translate-x-3 (12px) */
        }
      }
    }
    select{
      @include fonts.font-size-small;
      padding: calc(variables.$spacing/2) variables.$spacing;
    }
  }
  .pagination {
    background: variables.$white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: variables.$spacing;

    @include fonts.font-size-small;
    .pagination-text {
    }
    .pagination-buttons {
      display: inline-flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      gap: calc(variables.$spacing/2);
      button {
        padding-left: variables.$spacing;
        padding-right: variables.$spacing;
        padding-top: calc(variables.$spacing/2);
        padding-bottom: calc(variables.$spacing/2);
        border-width: 1px;
        border-style: solid;
        border-radius: calc(variables.$spacing/2);
      }

      button:disabled {
        cursor: not-allowed;
      }
    }
  }
}

.tags {
  display: inline-flex;
  gap: calc(variables.$spacing/2);
  @include fonts.font-size-small;
  .tag {
    display: inline-block;
    background-color: #e5e7eb;
    border-radius: variables.$spacing;
    padding: calc(variables.$spacing/2) variables.$spacing;
  }
}

// Filters
.filter-group {
  display: inline-flex;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-end;
  width: 100%;
  .status-toggle-group {
    margin-left: variables.$spacing;
    button {
      background: transparent;
      border: 0;
      padding: variables.$spacing;
      cursor: pointer;
      &[aria-checked="true"] {
        @include fonts.raleway-bold;
        border-bottom: calc(variables.$spacing/2) solid variables.$red;
      }
    }
  }
  .content-toggle-group {
    margin-bottom: calc(variables.$spacing);
    .root {
      padding: calc(variables.$spacing/4) calc(variables.$spacing/2);
      background-color: variables.$paper;
      border-radius: 999px;
      width: auto;
      display: inline-block;

      button {
        cursor: pointer;
        border: 0;
        background: transparent;
        border-radius: 999px;
        padding: calc(variables.$spacing/4) variables.$spacing;
        &[aria-checked="true"] {
          background: variables.$black;
          color: variables.$white;
        }
      }
    }
  }
  .react-select {
    margin-bottom: calc(variables.$spacing/1.5);
    min-width: 180px;
  }
  .clear-button {
    margin-bottom: calc(variables.$spacing/1.5);
    border: 0;
    background: transparent;
    opacity: 0.2;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

// tables in cards
.card {
  &.dark {
    table {
      color: variables.$black;
      table {
        thead {
        }
      }
    }
  }
}
