@use "./variables.module.scss";

.tooltip {
    background: variables.$white;
    padding:variables.$spacing;
    box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	user-select: none;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
    border-radius: variables.$spacing;
    border:1px solid variables.$gray;
}
.tooltip-arrow {
    fill:variables.$white;
}