$white: #fff;
$black: #171717;
//$paper: #fcf9f1;
$paper: #eff0eb;
$gray: #e0dcd0;
$yellow: #fed95a;
$red: #d4563a;
$green: #168a36;
$green-light: #c3fed4;

$spacing: 8px;
$max-width: 1080px;

:export {
  white: $white;
  black: $black;
  paper:$paper;
  gray: $gray;
  yellow:$yellow;
  red: $red;
  green: $green;
  green_light: $green-light;

  spacing: $spacing;
  max_width: $max-width;
}
