$white: #fff;
$black: #171717;
$black-translucent: #0104090f;
$paper: #eff0eb;
$paper-dark: #ddded8;
$gray: #e0dcd0;
$yellow: #fed95a;
$red: #d4563a;
$green: #168a36;
$green-dark: #128131;
$green-darker: #106427;
$green-light: #c3fed4;

$spacing: 8px;
$max-width: 1080px;

$shadow-small: 0px 1px 1px 0px $black-translucent, 0px 1px 3px 0px $black-translucent;

:export {
  white: $white;
  black: $black;
  paper:$paper;
  gray: $gray;
  yellow:$yellow;
  red: $red;
  green: $green;
  green_light: $green-light;

  spacing: $spacing;
  max_width: $max-width;
}
