.DS_Store
.vscode

login/
config-server.php
vendor/
test/
_dev/
_private/
.ddev/
test.json
test.php
test.html
node_modules
package.json
package-lock.json
.phpunit.result.cache
.env-**
.env
composer.lock
_temp