body{
    background-color: var(--bs-secondary-bg);
}
#reports_content{
    min-height: 60vh;
}
.bi{
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}
.me-2{
    margin-right: .5rem !important;
}
a.active{
    background-color: var(--bs-secondary-color) !important;
}
pre code{
    white-space: break-spaces;
    word-break: break-word !important;
}
.nav-link{
    color: #212529;
}
.fs-7{
    font-size: .9em;
}
#brand{
    text-transform: uppercase;
    letter-spacing: .035em;
}
.badge .spinner-border-sm{
    --bs-spinner-width: .7rem;
    --bs-spinner-height: 0.7rem;
}
#terminal{
    min-height: 600px;
}
#scan_log{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#reports_filter {
    overflow: hidden;
}
#reports_filter a{
    width: 200px;
    position: relative;
    background: transparent !important;
}
#reports_filter a:before{
    position: absolute;
    content: '';
    bottom: -2em;
    left: 0;
    width: 100%;
    height: 1em;
    border-radius: 6px;
    transition: bottom .4s;
}
#reports_filter a.active:before{
    bottom: -1em;
}
#reports_filter a:hover:before{
    bottom: -1.2em;
}
#reports_filter a#equalified:before{
    background: rgb(11, 101, 21);
}
#reports_filter a#active:before{
    background: rgb(171, 39, 12);
}
#reports_filter a#ignored:before{
    background: rgb(52, 57, 61);
}