.container{
    max-width: 960px;
}
.bi{
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}
.me-2{
    margin-right: .5rem !important;
}
pre code{
    white-space: break-spaces;
    word-break: break-word !important;
}
.nav-link{
    color: #212529;
}
.fs-7{
    font-size: .9em;
}
#brand{
    text-transform: uppercase;
    letter-spacing: .035em;
}
.badge .spinner-border-sm{
    --bs-spinner-width: .7rem;
    --bs-spinner-height: 0.7rem;
}
#terminal{
    min-height: 600px;
}
#scan_log{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#archived{
    min-height: 1.5em;
    min-width: 2.5em;
}
.snippet-input{
    width:100%;
}
.snippet-delete{
    margin-right: 1em;
}