body{
    min-height: 100vh;
}
.container{
    max-width: 960px;
}
main{
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    min-height: 100vh;
    overflow-x: auto;
    overflow-y: scroll;
}
.bi{
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}
.me-2{
    margin-right: .5rem !important;
}
.sites tbody tr, .sites tbody td{
    border: 0;
    padding-top: 0;
}
.sites tbody tr{
    opacity: .5;
    font-size: .8em;
}
.sites tbody tr.parent{
    font-weight: bold;
    border-top: 1px solid;
    opacity: 1;
    font-size: 1em;
}
.sites tbody tr.parent td{
    padding-top: .5rem;

}
pre code{
    white-space: break-spaces;
    word-break: break-word !important;
}
.nav-link{
    color: #212529;
}
.fs-7{
    font-size: .9em;
}
#brand{
    text-transform: uppercase;
    letter-spacing: .035em;
}
.badge .spinner-border-sm{
    --bs-spinner-width: .7rem;
    --bs-spinner-height: 0.7rem;
}
#terminal{
    height: 600px;
}
#scan_log{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}