@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.AuditEmailSubscriptionInput {
  margin-top:calc(2*variables.$spacing);
  .row {
    display: inline-flex;
    svg {
      width:24px;
      height:24px;
    }
  }
  
}


