@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.AuditsTable {
  margin-top:variables.$spacing;
  margin-bottom:calc(variables.$spacing*2);
  .audit-name {
    font-weight: bold;
  }
}
