@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.AuditsTable {
  margin-top:variables.$spacing;
  margin-bottom:calc(variables.$spacing*2);
  table {
    display:table !important;
  }
  .audit-name {
    font-weight: bold;
  }
  .header-sort {
    display: inline-flex;
    align-items: center;
    border:0;
    background: transparent;
    cursor: pointer;
    padding:0;
    font-weight: bold;
    &:hover {
      color: variables.$red;
    }
  }
  .header-label {
    margin-right: calc(variables.$spacing/2);
  }
  .arrow-placeholder {
    width:1em;
    height:1em;
  }
}
