@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.AuditPagesInputTable {
  margin-top:calc(variables.$spacing*2);
  /* th:last-of-type {
    text-align: center;
  };
  td:last-of-type{
    text-align: right;
  } */
  input[type="checkbox"]{
    min-width: fit-content;
  }
}


