@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.AuditEmailSubscriptionInput {
  margin-top:calc(2*variables.$spacing);
  .rows {
    margin-bottom: calc(2*variables.$spacing);
  }
  .row {
    display: inline-flex;
    button {
      margin-bottom:0;
      padding-bottom:0;
    }
    svg {
      width:28px;
      height:28px;
      margin-bottom: 0;
    }
  }
  .action-buttons {
    text-align: right;
    display:flex;
    justify-content: flex-end;

  }

}


