@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.BlockersTableColumnToggle {

}

.blockersTableToggleButton {
  color:variables.$black !important;
  float:right;
}  

.popoverFieldset {
  border: 0;
  label {
    display:flex;
    width:100%;
    padding: calc(variables.$spacing/4) 0;
  }
  legend {
    padding-top: variables.$spacing;
    font-weight: bold;
    border-bottom:1px solid variables.$black;
  }
}
.popoverContent {
  border-radius: variables.$spacing;
  padding: variables.$spacing;
  background-color: variables.$white;
  min-width: 200px;
  box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.popoverContent:focus {
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px
}
.popoverContent[data-state="open"][data-side="top"] {
  animation-name: slideDownAndFade;
}
.popoverContent[data-state="open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}
.popoverContent[data-state="open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.popoverContent[data-state="open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

.popoverArrow {
  fill: variables.$white;
}

.popoverClose {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 5px;
  border:0;
  background: transparent;
}
.popoverClose:hover {
}
.popoverClose:focus {
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
