@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.BlockersTable {
  .table-top-buttons {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
  }
  .blocker-code {
    //color: variables.$white;
    //background: variables.$black;
    //padding: calc(variables.$spacing/2) calc(variables.$spacing * 2);
    //border-radius: calc(variables.$spacing/2);
    display: inline;
    padding-left:calc(variables.$spacing/2);
    //margin-bottom: calc(variables.$spacing/2);
  }
  .view-code-button {
    font-weight: bold;
    padding: variables.$spacing variables.$spacing * 2;
    border-radius: calc(variables.$spacing / 2);
    border: 1px solid variables.$green-dark;
    box-shadow: 0;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    transition:
      background 0.12s ease-out,
      opacity 0.12s ease-out;

    svg {
      min-width: 14px;
      min-height: 14px;
      margin-right: variables.$spacing;
    }
    background: transparent;
    border-color: variables.$black;
    color: variables.$black;
    cursor: pointer;
    &:hover {
      background: transparent;
      opacity: 0.85;
    }
    &:active {
      background: transparent;
      opacity: 0.7;
    }
    &.disabled {
      border-color: variables.$gray;
      color: variables.$gray;
      box-shadow: none;
    }
  }
  .search-input {
    margin-right: 0;
    margin-bottom: calc(variables.$spacing/1.5);
  }
  .view-code-details {
    span {
      @include fonts.font-size-small;
    }
    display: flex;
    flex-wrap: wrap;
  }
  .tooltip-rondel {
    color: variables.$white;
    background: variables.$black;
    border-radius: 999px;
    cursor: pointer;
  }
  /* table cells */
  td.url {
    min-width: 400px;
  }
  td.issue {
    min-width: 300px;
  }
  td.tags {
    min-width: 140px;
  }
  td.categories {
    min-width: 140px;
  }

  td.empty-table {
    min-width: calc(100vw - 2px - variables.$spacing * 4);
    padding-bottom: 300px;
    text-align: center;
  }
}
