@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.card {
  border-radius: variables.$spacing;
  padding: calc(variables.$spacing * 3) calc(variables.$spacing * 2);
  h1,h2,h3 {
    margin:0;
    @include fonts.font-size-normal;
    display: flex;
    svg {
      margin-right: variables.$spacing;
    }
  } 
  .text-small {
    @include fonts.font-size-small;
  }
  &.dark {
    background: variables.$black;
    color: variables.$paper;
  }
  &.light {
    background: variables.$white;
    border: 1px solid variables.$gray;
  }
  &.red {
    background: variables.$red;
  }
  &.green {
    background: variables.$green;
    color: variables.$paper;
  }
}


