@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.footer {
  text-decoration: none;
  background: variables.$paper;
  border-top: 1px solid variables.$paper-dark;
  color: variables.$black;
  @include fonts.font-size-small;
  text-align: center;
  display: inline-flex;
  align-items: center;
  width:100%;
  margin-top: auto;
  justify-content: center;
  padding-top:variables.$spacing;
  padding-bottom:variables.$spacing;
  a, a:visited {   
    display: inline-block;
    padding:variables.$spacing;
    text-decoration: none;
    color: variables.$black;
    opacity:0.6;
    display:flex;
    align-items: center;
    gap: variables.$spacing;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}