.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.logoImg {
    width: 100px;
    display: flex;
}

.cobrandLogo {
    display: block;
    height: auto;
}
