@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.navigation {
  width: 100%;
  background: variables.$paper;
  border-bottom:1px solid variables.$paper-dark;
  padding: variables.$spacing;
  margin-bottom:variables.$spacing*2;
  .content{
    width: 100%;
    max-width: variables.$max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    text-decoration: none;
  }
  .nav_menu {
    display: inline-flex;
    align-items: center;
    .link {
        display: inline-block;
        color:variables.$black;
        padding: calc(variables.$spacing/2) variables.$spacing;
        margin-left: calc(variables.$spacing/2);
        margin-right: calc(variables.$spacing/2);
        opacity:.7;
        transition: background 0.12s ease-out, opacity 0.12s ease-out;
        &:hover {
            border-radius: variables.$spacing/2;
            background-color: variables.$paper-dark;
            opacity:1;
        }
        &.active {
          opacity: 1;
          font-weight: 700;
          position: relative;
            &::after{
              content: "";
              position: absolute;
              width: 100%;
              bottom: -1em;
              left: 0;
              display: block;
              border-bottom: 3px solid variables.$red;
            }
        }
    }
  }
  .nav_buttons {
    button {
        background: transparent;
        border:0;
    }
  }
  .user_info{
    @include fonts.font-size-small;
    text-align:right;
    .logout{
        text-decoration: underline;
    }
  }
}
