@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.button {
  border: 0;
  padding: calc(variables.$spacing) calc(variables.$spacing * 2);
  cursor: pointer;
  border-radius: calc(variables.$spacing * 4);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 3px solid variables.$black;
  font-weight: bold;

  span {
    display: block;
  }
  svg {
    min-width: 14px;
    min-height: 14px;
    margin-right: variables.$spacing;
  }

  &.dark {
    background: variables.$black;
    color: variables.$paper;
  }
  &.light {
    background: transparent;
    &.disabled {
      border-color: variables.$gray;
      color: variables.$gray;
    }
  }
  &.naked {
    background: transparent;
    border: 0;
    color: variables.$red;
    flex-direction: row-reverse;
    padding:0;
  }
  &.red {
    background: variables.$red;
    color: variables.$white;
    border-color: variables.$red;
    &.disabled {
      opacity: 0.5;
    }
  }
  &.green {
    background: variables.$green;
    color: variables.$paper;
  }

  &.icon-only {
    border: 0;
    background: transparent !important;
    opacity: 0.6;
    svg {
      margin: 0;
    }
    &:hover {
      opacity: 1;
    }
    &.dark {
      color: variables.$black;
    }
    &.red {
      color: variables.$red;
    }
    &.green {
      color: variables.$green;
    }
  }

  &.toggle {
    border:0;
    background: variables.$green;
    color: variables.$white;
  }
  &.toggle-ignored{
    border:0;
    background: variables.$paper;
    color: variables.$black;
    @include fonts.font-size-small;  
  }

  &.loading {
    cursor: wait;
    opacity: 0.8;
  }
/* 
  &.disabled,
  &:disabled {
    //opacity:1;
    //color:variables.$gray;
    //border-color:variables.$gray;
  } */
}

.spinner {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: variables.$spacing;
  border: 2px solid currentColor;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
