@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.button {
  border: 0;
  padding: calc(variables.$spacing) calc(variables.$spacing * 2);
  cursor: pointer;
  border-radius: calc(variables.$spacing*4);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  border:3px solid variables.$black;
  font-weight: bold;

  span {
    display: block;
  }
  svg {
    width: 14px;
    height: 14px;
    margin-right: variables.$spacing;
  }

  &.dark {
    background: variables.$black;
    color: variables.$paper;
  }
  &.light {
    background: transparent;
  }
  &.red {
    background: variables.$red;
  }
  &.green {
    background: variables.$green;
    color: variables.$paper;
  }

  &.icon-only {
    border:0;
    background: transparent !important;
    opacity: 0.6;
    svg{
      margin:0;
    }
    &:hover {
      opacity: 1;
    }
    &.dark {
      color: variables.$black;
    }
    &.red {
      color: variables.$red;
    }
    &.green {
      color: variables.$green;
    }
  }
  
}
