@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.button {
  font-weight: bold;
  color: variables.$white;
  padding: variables.$spacing variables.$spacing*2;
  background: variables.$green;
  border-radius: calc(variables.$spacing / 2);
  border: 1px solid variables.$green-dark;
  box-shadow: variables.$shadow-small;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: background 0.12s ease-out, opacity 0.12s ease-out;

  span {
    display: block;
  }
  svg {
    min-width: 14px;
    min-height: 14px;
    margin-right: variables.$spacing;
  }

  &.large{
    padding: variables.$spacing*2;
      @include fonts.font-size-normal;
  }

  &.dark {
    background: variables.$black;
        border-color: variables.$black;

    color: variables.$white;
    &:hover{
      background: variables.$black;
      opacity: .85;
    }
    &:active{
      background: variables.$black;
      opacity: .7;
    }
  }
  &.light {
    background: transparent;
    border-color: variables.$black;
    color: variables.$black;
    &:hover{
      background: transparent;
      opacity: .85;
    }
    &:active{
      background: transparent;
      opacity: .7;
    }
    &.disabled {
      border-color: variables.$gray;
      color: variables.$gray;
    }
  }
  &.naked {
    background: transparent;
    box-shadow: none;
    border: 0;
    color: variables.$red;
    flex-direction: row-reverse;
    padding:0;
    &:hover{
      background: transparent;
      opacity: .85;
    }
    &:active{
      background: transparent;
      opacity: .7;
    }
  }
  &.rondel {
    padding:variables.$spacing;
    border-radius: 999px;
  }
  &.red {
    background: variables.$red;
    color: variables.$white;
    border-color: variables.$red;
    &:hover{
      background: variables.$red;
      opacity: .85;
    }
    &:active{
      background: variables.$red;
      opacity: .7;
    }
    &.disabled {
      opacity: 0.5;
    }
  }
  &.green {
    background: variables.$green;
    color: variables.$paper;
    &:hover{
      background: variables.$green-dark
    }
    &:active{
      background: variables.$green-darker
    }
  }

  &.icon-only {
    border: 0;
    background: transparent !important;
    box-shadow: none;
    opacity: 0.6;
    svg {
      margin: 0;
    }
    &:hover {
      opacity: 1;
    }
    &.dark {
      color: variables.$black;
    }
    &.red {
      color: variables.$red;
    }
    &.green {
      color: variables.$green;
    }
  }

  &.toggle {
    border:0;
    background: variables.$green;
    color: variables.$white;
  }
  &.toggle-ignored{
    border:0;
    background: variables.$paper;
    color: variables.$black;
    @include fonts.font-size-small;  
  }

  &.loading {
    cursor: wait;
    opacity: 0.8;
  }
/* 
  &.disabled,
  &:disabled {
    //opacity:1;
    //color:variables.$gray;
    //border-color:variables.$gray;
  } */
}

.spinner {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: variables.$spacing;
  border: 2px solid currentColor;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
