{% extends 'base.html.twig' %}

{% block content %}
	<h1>Reporting</h1>
	<!-- get reports data from controller(needs to be created)-->

	<!-- create grid of reports-->
	<div class="container mt-5">
		<div class="row">
			{# {% for report in reports %} #}
			{% for i in range(1,6) %}
				<div class="col-md-4 mb-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								{# {{ report.title }} #}
                Test Title
							</h5>
							<p class="card-text">
                Some text for explaining the report...
								{# {{ report.content }} #}
							</p>
						</div>
					</div>
				</div>
				<!-- add a bootstrapped card with hyperlinks to each report-->
			{% endfor %}

		</div>
	</div>
	<!-- create button for adding reports -->
	<div class="d-flex justify-content-end">
		<button type="button" class="btn btn-primary">Add Report</button>
	</div>

{% endblock %}
