@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.Audits {
  h2 {
    margin-bottom: calc(variables.$spacing);
    line-height: 1.1em;
    svg {
      color: variables.$black;
    }
  }

  .audits-header {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 100%;
  }

  .filter-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(variables.$spacing*2);
  }
  .filter-controls-left {
    display: flex;
  }
  .audits-view-selector {
    display: inline-flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;

    button[data-state="active"] {
      opacity:1;
    }
  }
}
