@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.Audit {

  .scan-url-card-header {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 100%;
  }


}
