@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.Audit {
  margin-bottom: variables.$spacing*2;
  .scan-url-card-header {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 100%;
  }

  .scan-url-card-header-top{
    display: inline-flex;
    justify-content: space-between;
    width:100%;
  }

  .scan-cards-area {
    margin-top:calc(variables.$spacing*2);
  }

  input[name="email"]{
    padding-top:calc(variables.$spacing);
    //padding-bottom:calc(variables.$spacing);
    width: 180px;
  }
  select[name="frequency"]{
    min-width:100px;
  }
  text, line{
    fill: variables.$paper-dark;
    stroke: variables.$paper-dark;
  }


}
