@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.Blocker {
    .dataRow_last {
      border-bottom: 0 !important;
    }
    .code {
        max-width: 800px;
        word-break: break-word;
        code {
          white-space: pre-wrap !important;
        }
      }
}
