@use "../global-styles/variables.module.scss";
@use "../global-styles/fonts.scss";

.login {
  margin: clamp(32px, 8vw, 120px) auto;
  padding: calc(variables.$spacing * 5);
  display: grid;
  gap: calc(variables.$spacing * 3);
  width: 100%;
  max-width: 400px ;
}
h1{
    text-align: center;
}
.logo{
  width: 100px;
  margin: 0 auto;
}
.error {
  border-radius: calc(variables.$spacing * 1.25);
  padding: calc(variables.$spacing * 1.25);
  background: rgba(variables.$red, 0.08);
  color: variables.$red;
  border: 1px solid rgba(variables.$red, 0.25);
}
button{
  width: 100%;
}
input[type="text"], input[type="password"], input[type="email"]{
  width: 100%
}
label{
  text-align: left;
  margin-top: variables.$spacing;
  padding: variables.$spacing 0;
}