@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --background: #ffffff;
  --text: #000000;
  --link: #2f00ff;
  --border: #aaaaaa;
}

.dark {
  --background: #000000;
  --text: #ffffff;
  --link: #00a2ff;
  --border: #444444;
}

@theme {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-border: var(--border);
}

body {
  margin: 0;
  color: var(--text);
  font-family: 'Times New Roman', Times, serif;
}

a {
  color: var(--link)
}

input, select {
  padding: 4px 6px;
  background: transparent;
  color: var(--text);
  border-color: var(--border);
  border-style: solid;
  border-width: 1px;
}

button {
  padding: 4px 6px;
  font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3 {
  margin: 0;
}