/* @layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
 */
@use "./global-styles/variables.module";
@use "./global-styles/fonts";
@use "./global-styles/tables";
@use "./global-styles/icons";
@use "./global-styles/tooltip";
@use "./global-styles/charts"; 
@use "./global-styles/sr-only";

body {
  margin: 0;
  color: variables.$black;
  @include fonts.raleway-medium;
  @include fonts.font-size-normal;

  a,
  a:visited {
    color: variables.$red;
    text-decoration: underline;
  }

  &.dark {
    background: variables.$black;
    color:  variables.$paper;
  }
}

.app-container {
  //max-width: variables.$max-width;
  max-width:100%;
  margin:0 auto;
  min-height:100dvh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: variables.$max-width;
  padding-right: variables.$spacing;
  padding-left: variables.$spacing;
  margin:0 auto;
  width:100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

button{
    @include fonts.font-size-normal;

  color: variables.$white;
  padding: variables.$spacing variables.$spacing*2;
  background: variables.$green;
  border-radius: variables.$spacing;
  border: 1px solid variables.$green-dark;
  box-shadow: variables.$shadow-small;
  cursor: pointer;
  &:hover{
    background: variables.$green-dark
  }
  &:active{
    background: variables.$green-darker
  }
}

/* Suppress focus outline */
[tabindex="-1"]:focus {
  outline: none;
}

[tabindex="-1"]:focus-visible {
  outline: 2px solid variables.$red;
}
