/* 
Variables
 */
@use "./global-styles/variables.module";
@use "./global-styles/fonts";
@use "./global-styles/tables";
@use "./global-styles/icons";
@use "./global-styles/tooltip";
@use "./global-styles/charts"; 
@use "./global-styles/sr-only";

// =====================================================
// Reset / normalize-ish
// =====================================================

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}


body{
  margin: 0;
}


// =====================================================
// Typeography
// =====================================================

body {
  color: variables.$black;
  @include fonts.raleway-medium;
  @include fonts.font-size-normal;
}

// =====================================================
// Containers
// =====================================================

.app-container {
  max-width:100%;
  margin:0 auto;
  min-height:100dvh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: variables.$max-width;
  margin:0 auto;
  width:100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

// =====================================================
// Links
// =====================================================

a{
  &:visited {
    color: variables.$red;
    text-decoration: underline;
  }

  &.dark {
    background: variables.$black;
    color:  variables.$paper;
  }

}

// =====================================================
// Form Controls
// =====================================================

.form-control{
  text-align: left;
  button{
    @include fonts.font-size-normal;
    color: variables.$white;
    padding: variables.$spacing variables.$spacing*2;
    background: variables.$green;
    border-radius: variables.$spacing/2;
    border: 1px solid variables.$green-dark;
    box-shadow: variables.$shadow-small;
    cursor: pointer;
    &:hover{
      background: variables.$green-dark
    }
    &:active{
      background: variables.$green-darker
    }
  }
  label{
    @include fonts.font-size-small;
    font-weight: 700;
  }
  .fieldGroup{
    margin-bottom: variables.$spacing*2;
  }
  input, select, textarea {
    @include fonts.font-size-normal;
    padding: variables.$spacing variables.$spacing;
    color: variables.$black;
    background-color: variables.$white;
    border: 1px solid variables.$gray;
    border-radius: variables.$spacing/2;
    box-shadow: variables.$shadow-inset;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: box-shadow, border-color;
    &:focus{
      box-shadow: 0;
    }
  }
}

/* Suppress focus outline */
[tabindex="-1"]:focus {
  outline: none;
}

[tabindex="-1"]:focus-visible {
  outline: 2px solid variables.$red;
}
